h1,
h2,
h3,
h4,
h5,
h6{
  font-family: "Raleway", "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
}
iframe{
  margin: 10px 20px;
}

.row{

  margin: 0 auto;
}

.nav img{
  max-width: 25px !important;
}

.nav a{

  border: solid 1px rgba(224, 213, 199, 0);
  background-color: rgba(224, 213, 199, 0);
}

.nav a:hover,
.nav a:focus{

  border: solid 1px rgba(224, 213, 199, 1);
  background-color: rgba(224, 213, 199, 0.5);

}

.navbar-inverse{
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: solid 1px rgba(224, 213, 199, 1);
}

.intro {
  background: url('../img/BG_litegrey_texture.jpg') no-repeat bottom center scroll;
  -webkit-background-size: cover;
  height: 100vh;
}

.main-logo{

  width: 50%;
  max-width: 400px;

}

.ep-logo{

  width: 50%;
  max-width: 50px;
  padding: 25px 0;

}

.singles-logo{

  width: 50%;
  max-width: 80px;
  padding: 25px 0;

}

#singles{

  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(black, #333333); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(black, #333333); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(black, #333333); /* For Firefox 3.6 to 15 */
  background: linear-gradient(black, #333333); /* Standard syntax */

}

#singles h3{

  text-transform: none;

}

#gallery{

  background-color: #333333;
}

#gallery .col-lg-3{

    padding: 10px;

}

#gallery .col-lg-3 .gallery-img{

  min-height: 200px;
  background-position: center center;
  -webkit-filter: grayscale(100%);
  filter: gray;
}

#gallery .col-lg-3 .gallery-img:hover{

    /*min-height: 200px;
    background-size: cover;*/
    -webkit-filter: grayscale(0%);
    filter: none;
}


#city-lights{

  background: red;
  background: -webkit-linear-gradient(#333333, black);
  background: -o-linear-gradient(#333333, black);
  background: -moz-linear-gradient(#333333, black);
  background: linear-gradient(#333333, black);

}

#form{

  background-color: black;
}

#form input{

  width: 80%;
  margin: 10px 10px;
  color: black;
  display: inline-block;

}

#form textarea{

  width: 80%;
  margin: 10px 10px;
  color: black;
  display: inline-block;

}

#form textarea::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    black;
}
#form textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    black;
   opacity:  1;
}
#form textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    black;
   opacity:  1;
}
#form textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    black;
}

.submit{
  width: 100px !important;
  display: inline-block;
}


#video{

  background-color: #000000;

}

.video-content{

  text-align: left;
}

.image-section{

  background: url(../img/bg-span-new.jpg);
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 600px;
  height: 90vh;

}

.image-section-two{

  background: url(../img/bg-span-two.jpg);
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 600px;
  height: 90vh;

}

.social{

	list-style-type: none;
	margin: 20px 0 0 0;
}

.socialItem{
	display:inline;
	margin: 0 5px 0 5px;
}

footer{

  background: url(../img/bg-ottawa.jpg) no-repeat bottom center scroll;
  -webkit-background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  padding-top: 10vh;
}

footer .row{

  width: 60%;
  margin: 0 auto;

}

.streaming a,
footer a{

  height: 100px;
  width: 100%;
  background-size: 100px;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  border: solid 1px rgba(224, 213, 199, 0);
  transition: all 0.3s;
}

.streaming a:hover,
.streaming a:focus,
footer a:hover,
footer a:focus{

  border: solid 1px rgba(224, 213, 199, 1);
  background-color: rgba(224, 213, 199, 0.5);

}

.streaming img,
footer img{

  max-height: 50px;
  width: 80%;
}

.social .col-xs-4{

  padding: 0px;
}


.copy{
  /*position: absolute;
  display: block;
  bottom: 0;*/
}

@media (min-width: 767px) {
  .content-section {

    padding: 100px 0;

  }


}

@media (max-width: 766px) {

  .image-section{

    background-repeat:   no-repeat;
    background-position: center center;
    background-attachment: scroll;
    height: 600px;

  }
  .image-section-two{

    background-repeat:   no-repeat;
    background-position: center center;
    background-attachment: scroll;
    height: 600px;
  }

  #form{

    padding-bottom: 100px;
  }

  footer{
    -webkit-background-size: initial;
    background: url(../img/bg-ottawa.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    /* background-attachment: fixed; */
    /* height: 100vh; */
    padding-top: 0vh;
    min-height: 550px;
  }

  footer a{

    height: 100px;
    width: 100%;
    background-size: 60%;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    border: solid 1px rgba(224, 213, 199, 0);
    transition: all 0.3s;
    padding: 50px;

  }

  .social .col-xs-4{

    padding: 0px;
  }

  .social a{

    background-size: 40%;
  }


}

.grecaptcha-badge{

  display: none;
}
